#calculator {
    width: 200px;
    margin: auto;
  }

h3{
    color: darkcyan;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.row1, .row2, .row3 {
    display: flex;
    margin-bottom: 10px;
  }
  .row1{
    margin-top: 5px;
  }
 .number{
    margin-left: 10px;
 } 
  